.modal-popup {
  --width: 350px;
  --padding: 10px;
  position: fixed;
  top: 22vh;
  z-index: 100;
  padding: var(--padding);
  border-radius: 5px;
  min-width: var(--width);
  left: calc(50% - (var(--width) + var(--padding) * 2) / 2);
}
