.timer__selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

.timer__controls {
  display: flex;
  justify-content: center;
  margin: 10px;
}

.timerDuration {
  font-size: 100px;
}
