.timerSelection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 20px;
}

.timerControls {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.timerControls__button {
  font-size: 20px;
  margin: 5px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: rgba(235, 235, 235, 0.6) 2px 2px 0px;
}

.button {
  background-color: var(--bg-color);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.button--selected {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.button:hover {
  cursor: pointer;
  transform: translateY(-2px);
  background-color: var(--bg-color-hover);
}

.timerDuration {
  font-size: 100px;
}
