.setting-modal {
  color: var(--color-grey-text);
  background-color: var(--white-color);
  padding: 1rem;

  h3 {
    margin: 0;
  }

  span {
    position: absolute;
    top: 5px;
    right: 10px;
  }
}

.setting-modal__timers {
  display: flex;
  justify-content: space-evenly;
}

.setting-modal__timer {
  border-radius: 5px;
  padding: 10px;
  display: grid;
  gap: 5px;

  h5 {
    margin: 0;
    color: var(--color-grey-text);
  }

  input {
    border: none;
    background-color: var(--color-grey);
    padding: 10px;
    border-radius: 5px;
    width: 4rem;
  }
}