.button {
  // margin: 5px;
  padding: 5px 15px;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  border: 0;
  border-radius: 5px;
  font-size: 1.5rem;
  transition: all 0.2s ease-in-out ;
}

.button:hover {
  cursor: pointer;
  translate: 0 -1px;
  background-color: rgba(255, 255, 255, 0.5);
}

.button--selected {
  background-color: rgba(0, 0, 0, 0.2);
}

.button--selected:hover {
  cursor: default;
  background-color: rgba(0, 0, 0, 0.2);
  translate: 0;
}

.button--green {
  background-color: rgba(0, 102, 0, 0.2);
  &:hover {
    background-color: rgba(0, 102, 0, 0.5);
  }
}

.button--red {
  background-color: rgba(204, 0, 0, 0.2);
  &:hover {
    background-color: rgba(204, 0, 0, 0.5);
  }
}

.button--outline {
  background-color: transparent;
  color: var(--color-grey-text);
  padding: 0;
  &:hover {
    cursor: pointer;
    translate: 0;
    background-color: transparent;
    text-decoration: underline;
  }
}

.button--s {
  font-size: 1rem;
}

.button--xs {
  font-size: 0.8rem;
}