.App {
  text-align: center;
  background-color: rebeccapurple;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: block;
  color: white;
  padding-bottom: 20px;
}

.pomodoro__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: 1.5rem;
  margin-top: 1.5rem;
  padding: 1rem;
  font-size: 15px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
}

