.create-task {
  position: relative;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  background-color: var(--white-color);
  color: var(--black-color);
  padding: 1rem;
  width: 400px;
  box-shadow: -6px 0px 0px var(--black-color);
  transition: all 0.5s ease-in-out;

  label {
    margin-top: 10px;
    font-weight: bold;
  }

  header {
    display: flex;

    input {
      flex-grow: 1;
      margin-right: 5px;
    }
  }
}

.create-task__title{
  font-size: 24px;
  border-radius: 0;
  text-align: left;
  background-color: inherit;
  font-weight: bold;
  color: var(--black-color);
  padding: 0;
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease-in-out;

  &:hover {
    border-bottom: 1px solid var(--color-grey);
  }
}

.create-task__desc {
  margin-block: 1rem;
  font-size: 1rem;
  color: var(--black-color);
}

.create-task__pomo {
  display: flex;
  color: var(--black-color);
}

.create-task__pomo__input {
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  &[type=number] {
    -moz-appearance: textfield;
    /* Firefox */
  }

  width: 2rem;
  font-size: 1rem;
  margin-right: 5px;
  text-align: center;
}

.create-task__pomo__button {
  background-color: var(--color-grey);
  color: var(--color-black);
  width: calc(1rem + 10px);
  margin-inline: 1px;
  display: flex;
  justify-content: center;
  font-size: 1rem;

  &:hover {
    background-color: var(--color-grey);
  }
}

.create-task__note {
  align-self: flex-start;
  margin-block: 10px;
}

.create-task__actions {
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  height: 3rem;
  background-color: var(--black-color);
  box-shadow: -6px 0px 0px var(--black-color);

  .create-task__actions__button {
    margin: 1rem;
  }
}

.close {
  top: 1rem;
  right: 1rem;
  color: var(--red-color);
  border: 1px solid;
  border-radius: 5px;

  &:hover {
    color: var(--red-hover);
    cursor: pointer;
  }
}

@media screen and (max-width: 500px) {
  .create-task {
    width: 300px;
  }
}